.vs
.vscode/.ropeproject
.vscode/settings.json
__pycache__

**/bin
**/obj

temp

ReportsProcessing/.ipynb_checkpoints
ReportsProcessing/assets
ReportsProcessing/data
ReportsProcessing/maps
ReportsProcessing/out
ReportsProcessing/temp*
ReportsProcessing/Test.ipynb


*.DotSettings.user


