.vs
.vscode/.ropeproject
.vscode/settings.json
__pycache__

**/bin
**/obj

ReportsProcessing/assets
ReportsProcessing/data
ReportsProcessing/maps
ReportsProcessing/.ipynb_checkpoints
temp

*.DotSettings.user
ReportsProcessing/Test.ipynb
