[submodule "JHopkins_Covid_Data"]
	path = 3rdparty/DataSources/JHopkins
	url = https://github.com/CSSEGISandData/COVID-19.git
[submodule "Natural_Earth_Vector"]
	path = 3rdparty/Maps/NaturalEarth
	url = https://github.com/nvkelso/natural-earth-vector.git
[submodule "OWID_Covid_Data"]
	path = 3rdparty/DataSources/Owid
	url = https://github.com/owid/covid-19-data.git
